.header {
    padding: .63rem 1.25rem;
    background-color: var(--soft-pink);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.nav li {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.nav a {
    color: inherit;
    text-decoration: none;
    box-shadow: 0 2px 0 0 transparent;
    transition: box-shadow 400ms ease;
}

.nav a:hover {
    box-shadow: 0 4px 0 var(--pink);
}